<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contact Search</title>
        <link rel="stylesheet" href="/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat" rel="stylesheet">
    </head>
    <body>
      <h1>Contacts beginning with {{contact_name}}</h1>
        {% for contact in contacts %}
              {% if contact_name in contact.get('name') %}
              <ul>
                  <li class="name-of-contact">{{contact.get('name')}}</li>
                      <ul>
                        <li>{{contact.get('address')}}</li> <li>{{contact.get('phone')}}</li>
                      </ul>
              </ul>
              {% endif %}
        {% endfor %}
        <form action="go_home" method="post">
            <button class="btn" type="submit" name="button">Go Home</button>
        </form>
    </body>
</html>
